html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", sans-serif !important;
  overflow-x: hidden;
}

nav {
  background-color: #e1f3ff;
}

nav a {
  cursor: pointer;
}

.content {
  color: black;
  width: 100%;
}

.jumbotron {
  background-color: white !important;
}

.details_section_one p {
  line-height: 1.6 !important;
  font-size: 18px !important;
}

.details_section_two {
  background-color: #e1f3ff;
  padding-bottom: 400px !important;
}

.details_section_three_columns {
  background-color: white;
  margin-top: -390px;
  border-radius: 25px;
  border: 1px solid #e6ecf8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details_section_three_lc {
  border-right: 1px solid #e6ecf8;
}

.projects_list div {
  padding: 0 !important;
  height: 200px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
}

.projects_list div:hover {
  transform: scale(1.15);
  transition: transform 1s ease-out;
}

.img-project {
  padding: 10px;
  height: 200px;
  object-position: center;
  object-fit: contain;
}

.img__description {
  position: absolute;
  width: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(103, 112, 155, 0.9);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  margin: 0 !important;
  border-radius: 12px;
  text-overflow: ellipsis;
  font-size: 15px;
}

.projects_list div:hover .img__description {
  visibility: visible;
  opacity: 1;
}

#myButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 4;
  background-color: rgba(31, 50, 150, 1);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#myButton:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.myServices a {
  font-size: 18px !important;
}

#contacts {
  color: #e1f3ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social__icons a i {
  color: #e1f3ff !important;
}

.social__icons a {
  color: black;
}

.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
}

.contact_img {
  width: 400px !important;
}

.contact_form input {
  width: 100% !important;
  margin-bottom: 10px !important;
}

.contact_form textarea {
  width: 100% !important;
}

.btn-primary {
  background-color: rgba(31, 50, 150, 1) !important;
  border: 1px solid rgba(31, 50, 150, 1) !important;
}

.display-weight {
  font-weight: 600 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
